.home_row {
  display: flex;
  z-index: 1;
  margin-left: 5px;
  margin-right: 5px;
}

.home {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1500px;
}

.home_image {
  width: 100%;
}

@media all and (max-width: 500px) {
  .home_row {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    z-index: 1;
    margin-left: 5px;
    margin-right: 25px;
  }
}
